form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-row {
    display: table-cell;
    max-width: 600px;
}

mat-form-field {
    width: 400px;
}

button {
    margin-right: 10px;
    margin-bottom: 20px;
}

.radio-field {
    margin-bottom: 5px;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}